---
import Layout from "../../layouts/Layout.astro";

import { getLangFromUrl, useTranslations, LANGUAGES_KEYS } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths() {
  return LANGUAGES_KEYS.map((lang) => ({ params: { lang } }));
}
---

<Layout title={t.site.title} description={t.site.description} lang={lang}>
  <h1>{t.home.welcome}</h1>
  <p>
    {t.home.p1}
  </p>
  <p>
    {t.home.p2}
  </p>
  <p>{t.home.p3}</p>
  <ul>
    <li>{t.home.p3_0} <code>src/i18n/ui.ts</code></li>
    <li>{t.home.p3_1} <code>src/pages/index.astro</code></li>
    <li>{t.home.p3_2} <code>src/pages/[lang]/...</code></li>
    <li>
      {t.home.p3_3}
      <code>src/components/Header.astro</code>
    </li>
    <li>
      {t.home.p3_4}
      <code>src/components/Footer.astro</code>
    </li>
    <li>{t.home.p3_5} <code>src/pages/blog/</code></li>
    <li>
      {t.home.p3_6}
      <code>src/layouts/Layout.astro</code>
    </li>
    <li>
      {t.home.p3_7}
      <code>src/layouts/BlogPost.astro</code>
    </li>
  </ul>
</Layout>
