---
import { getBlogPosts } from "../../../content/config";
import BlogPost from "../../../layouts/BlogPost.astro";

export async function getStaticPaths() {
	const pages = await getBlogPosts();

	const paths = pages.map((page) => {
		return {
			params: { lang: page?.data.lang || "en", slug: page.blog_slug },
			props: page,
		};
	});

	return paths;
}

const { lang } = Astro.params;
const page = Astro.props;
const formattedDate = page.data?.pubDate?.toLocaleString(lang);

const { Content } = await page.render();
---

<BlogPost {...page.data} lang={lang}>
	<h1>{page.data.title}</h1>
	<p>by {page.data.author} • {formattedDate}</p>
	<Content />
  {page.data.tags && page.data.tags.length > 0 && (
    <div>
      <strong>Tags:</strong>
      <ul>
        {page.data.tags.map(tag => (
          <li>
            <a href={`/${lang}/tags/${tag}`}>{tag}</a>
          </li>
        ))}
      </ul>
    </div>
  )}
</BlogPost>
