---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "./Layout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage, lang, tags } =
  Astro.props;
---

<Layout
  title={title}
  description={description}
  heroImage={heroImage}
  pubDate={pubDate}
  updatedDate={updatedDate}
  lang={lang}
>
  <article class="space-y-6">
    {
      heroImage && (
        <div class="hero rounded-box">
          <div class="hero-content p-0 w-full">
            <img width={1020} height={510} src={heroImage} alt="" class="rounded-box w-full" />
          </div>
        </div>
      )
    }
    {tags && tags.length > 0 && (
      <div class="flex flex-wrap gap-2">
        {tags.map((tag) => (
          <a href={`/${lang}/tags/${tag}`} class="badge badge-outline">{tag}</a>
        ))}
      </div>
    )}
    <div class="card bg-base-100 shadow-sm">
      <div class="card-body">
        <h1 class="card-title text-3xl">{title}</h1>
        <p class="text-sm text-base-content/70">
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <span class="ml-2">Last updated on <FormattedDate date={updatedDate} /></span>
            )
          }
        </p>
        <div class="divider"></div>
        <slot />
      </div>
    </div>
  </article>
</Layout>
