---
import logo from "../assets/images/logo.webp";
import Linkedin from "../assets/icons/linkedin.svg";
import Instagram from "../assets/icons/instagram.svg";
import Youtube from "../assets/icons/youtube.svg";
import { DEFAULT_LANG, useTranslations } from "../i18n/utils";
import { Image } from "astro:assets";

const today = new Date();
const { lang } = Astro.props;
const currentLang = lang ?? DEFAULT_LANG;
const t = useTranslations(currentLang);
const prefix = `/${currentLang}`;
---

<footer class="footer sm:footer-horizontal bg-base-200 text-base-content p-10">
  <aside>
    <Image 
      src={logo} 
      alt="Logo" 
      width={64} 
      height={59} 
      format="webp"
      class="w-16" 
      loading="lazy"
    />
    <p>
      {t.site.title}
      <br />
      {t.site.name}
    </p>
  </aside>
  <nav>
    <h6 class="footer-title">{t.footer.quickLinks}</h6>
    <a class="link link-hover" href="#">{t.footer.f1}</a>
    <a class="link link-hover" href="#">{t.footer.f2}</a>
    <a class="link link-hover" href="#">{t.footer.f3}</a>
    <a class="link link-hover" href="#">{t.footer.f4}</a>
    <a class="link link-hover" href="#">{t.footer.f5}</a>
  </nav>
  <nav>
    <h6 class="footer-title">{t.nav.contact}</h6>
    <p class="max-w-xs whitespace-pre-line">{t.footer.address}</p>
  </nav>
  <nav>
    <h6 class="footer-title"></h6>
    <a class="link link-hover" href={`${prefix}/faq`}>{t.nav.faq}</a>
    <a class="link link-hover" href={`${prefix}/blog`}>{t.nav.blog}</a>
    <a class="link link-hover" href={`${prefix}/contact`}>{t.nav.contact}</a>
  </nav>
</footer>

<footer
  class="footer sm:footer-horizontal bg-neutral text-neutral-content items-center p-4"
>
  <aside class="grid-flow-col items-center">
    <p>
      Copyright © {today.getFullYear()} - Designed by e2dnext - {t.footer.allRightsReserved}
    </p>
  </aside>
  <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <a
      href="https://twitter.com/astrodotbuild"
      target="_blank"
      aria-label="Twitter"
    >
      <Linkedin width="24" height="24" />
    </a>
    <a href="https://youtube.com" target="_blank" aria-label="YouTube">
      <Instagram width="24" height="24" />
    </a>
    <a href="https://facebook.com" target="_blank" aria-label="Facebook">
      <Youtube width="24" height="24" />
    </a>
  </nav>
</footer>
