---
import HeaderLink from "./HeaderLink.astro";
import LangSelector from "./LangSelector.astro";
import ThemeSelector from './ThemeSelector.astro';
import { DEFAULT_LANG, useTranslations } from "../i18n/utils";
const { lang, title } = Astro.props;

const currentLang = (lang ?? DEFAULT_LANG);
const t = useTranslations(currentLang);
const prefix = `/${currentLang}`;
const homeSlug = `${prefix}`;
const blogSlug = `${prefix}/blog`;
const aboutSlug = `${prefix}/about`;
const tagsSlug = `${prefix}/tags`;
---

<header>
  <div class="navbar bg-base-100 shadow-sm">
    <div class="navbar-start">
      <div class="dropdown">
      </div>
      <a href={homeSlug} class="btn btn-ghost text-xl inline-flex items-center gap-2">
        <img src="/favicon.svg" alt={title} class="w-6 h-6" />
        <span>{title}</span>
      </a>
    </div>

    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li><HeaderLink href={homeSlug}>{t.nav.home}</HeaderLink></li>
        <li>
          <details>
            <summary>{t.nav.practiceAreas}</summary>
            <ul class="p-2">
              <li><HeaderLink href={`${prefix}/practice-areas/vehicle-value-loss`}>{t.nav.practiceAreasItems.vehicleValueLoss}</HeaderLink></li>
              <li><HeaderLink href={`${prefix}/practice-areas/family-law`}>{t.nav.practiceAreasItems.familyLaw}</HeaderLink></li>
              <li><HeaderLink href={`${prefix}/practice-areas/cybercrimes`}>{t.nav.practiceAreasItems.cybercrimes}</HeaderLink></li>
              <li><HeaderLink href={`${prefix}/practice-areas/real-estate-zoning`}>{t.nav.practiceAreasItems.realEstateZoningLaw}</HeaderLink></li>
              <li><HeaderLink href={`${prefix}/practice-areas/inheritance-law`}>{t.nav.practiceAreasItems.inheritanceLaw}</HeaderLink></li>
              <li><HeaderLink href={`${prefix}/practice-areas/foreigners-citizenship`}>{t.nav.practiceAreasItems.foreignersCitizenshipLaw}</HeaderLink></li>
              <li><HeaderLink href={`${prefix}/practice-areas/criminal-law`}>{t.nav.practiceAreasItems.criminalLaw}</HeaderLink></li>
              <li><HeaderLink href={`${prefix}/practice-areas/labor-law`}>{t.nav.practiceAreasItems.laborLaw}</HeaderLink></li>
              <li><HeaderLink href={`${prefix}/practice-areas/enforcement-bankruptcy`}>{t.nav.practiceAreasItems.enforcementBankruptcyLaw}</HeaderLink></li>
            </ul>
          </details>
        </li>
        <li><HeaderLink href={`${prefix}/faq`}>{t.nav.faq}</HeaderLink></li>
        <li><HeaderLink href={`${prefix}/notes`}>{t.nav.notes}</HeaderLink></li>
        <li><HeaderLink href={blogSlug}>{t.nav.blog}</HeaderLink></li>
        <li><HeaderLink href={tagsSlug}>{t.nav.tags}</HeaderLink></li>
        <li><HeaderLink href={`${prefix}/contact`}>{t.nav.contact}</HeaderLink></li>
      </ul>
    </div>

    <div class="navbar-end gap-2">
      <LangSelector />
      <ThemeSelector />
    </div>
  </div>
</header>
